
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
      ul.long {
         overflow: scroll;
          max-height: 200px
      }
  .list {
    overflow: scroll;

  }

  </style>


<link rel="stylesheet" href="{{ '/style.css' }}">


<script>

  
  function search(input) {
    li = input.parentNode.getElementsByTagName("div");

    filter = input.value.toUpperCase();
    count = li.length;
    found = 0;
      for (i = 0; i < li.length; i++) {
          txtValue = li[i].textContent.toUpperCase() || "";
          if (txtValue.indexOf(filter) > -1) {
              li[i].style.display = "";
              found ++;
          } else {
              li[i].style.display = "none";
          }
       
    }
    input.parentNode.getElementsByClassName("count")[0].innerText = ` ${found - 1} /  ${count}`
}
</script>

</head>



  <body>




{% macro display(item) %}

    <table class="table-auto align-text-top align-text-left"">
        <caption >  {{ title  }}  </caption>
        {% for prop, vals in item %}
         <tr> 
               <th class="bg-slate-100 align-text-top align-text-left"">  <button class="rounded-lg w-full"> {{ prop }}  </button> </th>
               <td class="align-text-top align-text-left">

                {% if vals is string %} 

                     {{ vals }}

                 {% else %}
                    {% if vals.length > 9 %}
                  
                   <input class="border" onkeyup="res = search(this)">
                      <span class="count"> ({{ vals.length }})</span>
                      <div class="overflow-scroll h-64">
                    
                    {% else %}
                    <div>
                     {% endif %}
                    {% for val in vals %}
                    <div>
                         {% if val is string %}   
                            {{ val }} 
                          {% elif val["@path"] %}     
                            <button class="font-bold py-2 px-4 rounded bg-blue-500 text-white"><a href="{{val["@path"]}}"> {{ val["@value"] }} </a></button>
                          
                          {% elif val["@value"] %} 
                            {{ val["@value"] }}
                          {% else %}
                              
                               {{ display(val) }}
                              
                         {% endif %}
                        </div>
                    {%  endfor %}
                                            </div>

                  </td>
               
                 {% endif %}
          </tr>

        {% endfor %}
    </table>

{% endmacro %}




  <a href="{{ home_link }}">🏠 Home</a>

{{ content | safe }}


{{ display(data.ids[data.entryPoint])}}


<h1>REVERSE</h1>

{{ display(reverse) }}

      
<script>


</script>

  </body>



</html>