
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
      .long {
         overflow: scroll;
          max-height: 200px;
          background-color: green;
      }
      .entity {
      display: none;
      width: 80%;
      height: 80%;
      position: fixed;
      top: 100px;
      left: 10%;
      z-index: 1000;
      background-color: pink;
      border: 1px solid #ccc;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .entity:target {
      display: block;
    }
      .home {
        background-color: yellow;
        display: block;
      }

      .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1001;
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }
  </style>




<script>
  function search(input) {
    li = input.parentNode.getElementsByTagName("div");

    filter = input.value.toUpperCase();
    count = li.length;
    found = 0;
      for (i = 0; i < li.length; i++) {
          txtValue = li[i].textContent.toUpperCase() || "";
          if (txtValue.indexOf(filter) > -1) {
              li[i].style.display = "";
              found ++
          } else {
              li[i].style.display = "none";
          }
       
    }
    input.parentNode.getElementsByClassName("count")[0].innerText =  found - 1 /  count
}

function show(id) {

  return;


  // Get all entities in the document
  const entities = document.getElementsByClassName("entity");

  // Loop through all entities
  for (let i = 0; i < entities.length; i++) {
    // Check if the table's id matches the specified id
    if (entities[i].classList.contains("home") || !entities[i].id) {
            // Show the table if the id matches
            entities[i].style.display = "block";
            entities[i].style.backgroundColor = "yellow";

    } else if ( entities[i].id === id) {
            // Show the table if the id matches
            entities[i].style.display = "block";
            entities[i].style.width = "60%";
            entities[i].style.height = "80%";
            entities[i].style.backgroundColor = "pink";
            entities[i].style.marginTop = "20px"; // Adjust as needed to position near the top
            entities[i].scrollIntoView({ behavior: "smooth", block: "start" });

            entities[i].style.position = "fixed";
            entities[i].style.top = "20px"; // Adjust as needed to position near the top
            entities[i].style.left = "10%"; // Center the element horizontally
            entities[i].style.zIndex = "1000"; // Ensure the element is on top of other elements

            // Create a close button
            const closeButton = document.createElement("button");
            closeButton.innerText = "X";
            closeButton.style.position = "absolute";
            closeButton.style.top = "10px";
            closeButton.style.right = "10px";
            closeButton.style.zIndex = "1001"; // Ensure the button is on top of the div
            closeButton.onclick = function() {
            entities[i].style.display = "none";
      };

      // Append the close button to the div
      entities[i].appendChild(closeButton);

            
          } else {
            // Hide the table if the id does not match
            entities[i].style.display = "none";
          }
  }
}

</script>



</head>



  <body>




{% macro display(item) %}
{% if item["@id"]  == data.entryPoint %}
  {% set homeClass = "home" %}
{% else %}
  {% set homeClass = "" %}
{% endif %}

<div class="entity {{homeClass}}"  id="{{item["@id"] | urlencode}}">
{% if not(homeClass) %}
  <a href="#" class="close-button">X</a>

{% endif %}
    <table>
      
       {% for prop, vals in item %}
         <tr> 
               <th >  {{ prop  }}  </th>
               <td >
                {% if prop == "@reverse"  %}
                    {{ display(vals, true) }}
                {% elif vals is string %} 

                     {{ vals }}

                 {% else %}
                    {% if vals.length > 9 %}
                  
                   <input class="border" onkeyup="res = search(this)">
                      <span class="count"> ({{ vals.length }})</span>
                      <div class="long">
                    
                    {% else %}
                    <div>
                     {% endif %}
                    {% for val in vals %}
                    <div>
                         {% if val is string %}   
                            {{ val }} 
                          {% elif val["@path"] %}     
                            <button style="border: 1 "><a href="{{val["@path"]}}"> {{ val["@value"] }} </a></button>
                          {% else %}
                            {% if val["@id"] %} 
                              <button style="border: 1 "><a href="#{{val["@id"] | urlencode }}" onclick='show("{{val["@id"] | urlencode }}")'> ---> {{ val["@value"]  or  val["@id"]  }} </a></button>
                            {% elif val["@value"] %} 
                              {{ val["@value"] }}
                            {% else %}
                                WARNING SOMETHING WENT WRONG {{ val }}
                            {% endif %}
                          {% endif %}
                        </div>
                    {%  endfor %}
                 </div>

                  </td>
               
                 {% endif %}
          </tr>

        {% endfor %}
    </table>
{% set htmlRegex = r/(\.txt)$|(\.html?)$/i %}
{% set audioRegex = r/(\.mp3)|(\.ogg?)|(\.wav)$/i %}
{% set imgRegex = r/(\.jpe?g)|(\.png|(\.giff?))$/i   %}
{%  set pdfRegex = r/pdf$/i %}

{% if item._relPath %}
 {{ item["@id"] }}
        {% if   htmlRegex.test(item["@id"])  %}
            <iframe src='{{item._relPath}}' type="text/plain" width='100%' height='500'         loading="lazy"></iframe>
        {% elif  audioRegex.test(item["@id"])  %} 
            <audio controls><source src="{{ item._relPath }}"/></audio>
        {% elif   imgRegex.test(item["@id"])  %} 
          <img width='100%' style='object-fit: contain' src="{{ item._relPath }}" loading="lazy"/>
        {% elif  pdfRegex.test(item["@id"]) %}
          <iframe   src="{{ item._relPath }}" type="application/pdf" width="100%" height="600px" loading="lazy" />
 {% endif %}
 {% endif %}
</div>

{% endmacro %}



<a href="{{ home_link }}">🏠 Home</a>

{{ content | safe }}



{% for prop, entity in data.ids %}
      {{ display(entity) }}
 {% endfor %}



      
<script>
show("{{ data.entryPoint | urlencode}}")
</script>

</body>
</html>